{% extends 'adminMenu.html' %}

{% block content  %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'AgregarInformacionPersonal' %}"> &nbsp;Crear Informacion Personal</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listado Informacion Personal</li>
  </ol>
</nav>

<table id="example" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono 1</th>
      <th scope="col">Telefono 2</th>
      <th scope="col">Correo 1</th>
      <th scope="col">Correo 2</th>
    </tr>
  </thead>
  <tbody>
    {% for listado in lista %}
      <td>{{listado.Direccion}}</td>
      <td>{{listado.Telefono1}}</td>
      <td>{{listado.Telefono2}}</td>
      <td>{{listado.Correo1}}</td>
      <td>{{listado.Correo2}}</td>
      <td>
        <a
          href="{% url 'ActualizarUsuario' listado.id %}"
          class="btn btn-success"
          ><i class="fa fa-book" aria-hidden="true"></i>
        </a>
        &nbsp;
        <a href="{% url 'eliminarUsuario' listado.id %}" class="btn btn-danger"
          ><i class="fa fa-trash" aria-hidden="true"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
