{% extends 'adminMenu.html' %} {% block content %} {% load static %}
<!-- forms 2 -->
<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb my-breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'listaUsuarios' %}">&nbsp;Regresar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
  </ol>
</nav>
<div class="card card_border py-2 mb-4">
  <div class="card-body">
    <form action="{% url 'crearUsuario' %}" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4" class="input__label">Direccion</label>
          {{form.Direccion}}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4" class="input__label">Telefono 1</label>
          {{form.Telefono1}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4" class="input__label">Telefono 2</label>
          {{form.Telefono2}}
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4" class="input__label">Correo 1</label>
          {{form.Correo1}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4" class="input__label">Correo 2</label>
          {{form.Correo2}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-style mt-4">
        Crear
      </button>
    </form>
  </div>
</div>
<!-- //forms 2 -->
{% endblock content %}
