<!-- sidebar menu start -->
{% extends 'adminMenu.html' %}
<!-- //header-ends -->
<!-- main content start -->

<!-- statistics data -->

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'crearUsuario' %}">Crear Sobre Nosotros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listado Sobre Nosotros</li>
  </ol>
</nav>

<table id="example" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Funciones</th>
    </tr>
  </thead>
  <tbody>
    {% for listado in lista %}
    <tr>
      {% if listado.Imagen %}
      <td>
        <img
          style="width: 200px; height: 100px"
          src="{{listado.Imagen.url}}"
          alt=""
        />
      </td>
      {% else %}
      <td>Imagen no subida</td>
      {% endif %}
      <td>{{listado.Titulo}}</td>
      <td>{{listado.Descripcion}}</td>
      <td>
        <a
          href="{% url 'ActualizarUsuario' listado.id %}"
          class="btn btn-success"
          ><i class="fa fa-book" aria-hidden="true"></i>
        </a>
        &nbsp;
        <a href="{% url 'eliminarUsuario' listado.id %}" class="btn btn-danger"
          ><i class="fa fa-trash" aria-hidden="true"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
